@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;600&family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

/* Style reset */
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.9;
}

img {
  max-width: 100%;
  display: block;
}

/* Styles */

h1,
h2,
h4 {
  font-family: 'Cormorant Garamand', serif;
  font-weight: 500;
  line-height: 1;
}

.title {
  font-size: 1.5rem;
  color: #717171;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  margin-bottom: 0.3em;
}

.work {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-weight: 400;
}

.city {
  margin-top: 0;
  font-weight: 400;
}

hr {
  display: inline-block;
  margin-left: 2em;
  margin-top: 0.75em;
  flex-grow: 1;
}

li {
  margin-bottom: 0.5em;
}

/* Layout */

main {
  grid-area: main;
  margin: 0 7.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em 0 3em;
  height: 10vh;
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(113, 113, 113, 0.8);
}

.navigation-list {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

a {
  text-decoration: none;
  color: #717171;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navigation-item {
  margin: 0;
}

.navigation-item a {
  text-transform: lowercase;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #8da39b;
  outline-color: #8da39b;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 1fr;
  grid-template-areas: 'header side-content' 'main side-content';
}

.side-content {
  position: relative;
  grid-area: side-content;
  background-color: #82aaad;
  height: 100%;
  display: flex;
  justify-content: center;
}

.portrait {
  height: 65vh;
  position: fixed;
  top: calc(50% - 32.5vh);  
  transform: translateX(-50%);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.intro,
.info,
.expertise,
.experience {
  height: 100vh;
}

.intro-info {
  margin-top: 10em;
  line-height: 2;
  font-size: 1rem;
}

.title-line {
  display: flex;
  align-items: center;
}

.experience {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-bottom: 3em;
}

a[href="https://levinbaenninger.dev"] {
  margin-left: 1.5em;
}